  .formControl {
    width: 30%;
    margin-bottom: 30px !important;
    margin-top: 20px !important;
  }

  @media only screen and (max-width: 770px) {
    .formControl {
      width: 60%;
      margin-bottom: 30px !important;
    }
}